<div id="header">
    <link rel="stylesheet" href="../css/header.css">
    <!-- <img id="banner" src="../img/PlatosDeIslas_banner.jpg" alt="Banner PlatosdeIslas"> -->
    <nav>
        <ul>
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#acerca">Acerca de Nosotros</a></li>
            <li><a href="#productos">Products</a></li>
            <li><a href="#contacto">Contacto</a></li>
        </ul>
    </nav>
    <div class="contact-info">
        <p>Teléfono: 123-456-7890</p>
        <p>Correo: info@misitioweb.com</p>
    </div>
</div>